//primary colors
$coffee-darkblue: #002651;
$coffee-blue: #1292EE;

//secondary colors
$coffee-darkyellow: #DD920B;

//tertiary colors
$coffee-pastelblue: #A0D4FF;
$coffee-pastelred: #FE9399;
$coffee-pastelgreen: #BCE8E1;
$coffee-pastelyellow: #FFE7B8;

//system colors
$coffee-white: #F8FAFC;
$coffee-grey200: #E2EBF0;
$coffee-grey300: #CBD5E1;
$coffee-grey500: #64748B;
$coffee-grey900: #0F172A;
