@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

a,
a:hover,
a:focus,
a:active {
  color: $coffee-white;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 11.25rem;
  height: 100vh;
  background-color: $coffee-darkblue;
  @include flex-column-aligncenter;
  padding: 1.5rem 0;
  transform: translateX(-100%);
  transition: 0.4s;
  @include desktop{
    width: 15%;
    transform: translateX(0%);
  }
  &--open{
    @extend .navbar;
    transform: translateX(0%);
  }
  &__logo{
    margin-bottom: 2.5rem;
  }
  &__links{
    width: 100%;
    padding: 0.5rem 1.5rem;
    @include flex-start-center;
    margin-bottom: 1rem;
    &:hover{
      transition-duration: 0.2s;
      background-color:$coffee-grey900;
    }
  }
  &__title{
    text-decoration: none;
    color: $coffee-grey500;
    @include body-mobile;
    &:hover {
        color: $coffee-white;
    }
  }
  &__icons{
    margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}