@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.details{
  padding: 1.5rem 1rem;
  @include tablet{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5rem 2.5rem;
  }
  @include desktop {
    @include border;
  }
  &__wrapper{
    @include desktop{
      width: 85%;
      margin-left: 15%;
      padding: 1.5rem 8.125rem;
    }
 
  }

  &__imagecontainer{
    width: 100%;
    @include tablet{
      width: 50%;
    }
  }
  &__image{
    width: 100%;
    @include tablet{
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__info {
    @include tablet {
      width: 50%;
      padding: 0 0 0 1.5rem;
    }
  }
  &__text{
    @include flex-column-aligncenter;
    width: 100%;
    @include tablet{
      align-items: flex-start;
    }
  }
  &__title{
    @include page-header-mobile;
  }
  &__description{
    @include body-mobile;
    text-align: center;
    margin-bottom: 1.5rem;
    @include tablet{
      text-align: start;
    }
  }
  &__stats{
    @include flex-spaced;
    margin-bottom: 1.5rem;
  }
  &__statcontainer{
    @include flex-center-center;
    flex-direction: column;
  }
  &__key{
    @include body-mobile;
    margin: 0;
  }
  &__value{
    @include body-mobile;
    margin: 0.5rem 0;
    &--bold{
      @extend .details__value;
      font-weight: 600;
    }
  }
  &__topinfo{
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
  }
  &__bottominfo{
    @extend .details__topinfo;
    margin-bottom: 1.5rem;
  }
  &__id, &__stock, &__price, &__sales{
    width: 50%;
  }
  &__buttons{
    @include tablet{
      @include flex-start-start;
    }
  }
  &__button {
    @include buttonStyle;
    text-decoration: none;
    background-color: $coffee-blue;
    color: $coffee-white;
    margin: 0 0 1rem 0;
    @include tablet{
      width: 30%;
      margin-right: 1rem;
    }
  }
  &__delete{
    @include buttonStyle;
    background-color: $coffee-darkyellow;
    color: $coffee-white;
    @include tablet {
      width: 30%;
    }
  }
  &__icon{
    margin-right: 0.5rem;
  }
}