@use './styles/partials/colors' as *;
@use './styles/partials/fonts' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;

*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  font-family: Poppins;
  font-weight: 400;
  margin: 0;
  padding: 0;
}