@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.homepage{
  padding: 0 1rem;
  &__title{
    @include page-header-mobile;
    margin: 1.5rem 0 1rem 0;
  }
  &__cards{
    @include flex-center-center;
    flex-wrap: wrap;
  }
  &__card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1.5rem;
    @include border;
    margin: 0 1rem 1rem 0;
  }
  &__cardtitle{
    @include page-nav-mobile;
    font-weight: 400;
    margin: 0.25rem 0;
  }
  &__amount{
    @include page-header-mobile;
    margin: 0.25rem 0;
  }
  &__increase{
    @include subheader-mobile;
    font-weight: 400;
    margin: 0.25rem 0;
    color: $coffee-darkyellow;
  }
  &__products{
    margin-bottom: 1.5rem;
  }
  &__productlist{
    width: 100%;
    @include flex-spaced-center;
    padding: 0.5rem 0;
    border-bottom: 1px solid $coffee-grey300;
  }
  &__coffee{
    display: flex;
    align-items: center;
  }
  &__image{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    object-position: center;
    margin-right: 1rem;
  }
  &__name{
    margin: 0;
    @include body-mobile;
  }
  &__price{
    margin: 0;
    @include body-mobile;
  }
  &__states{
    @include flex-column-aligncenter;
  }
  &__activeusers{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    @include border;
    margin-bottom: 1.5rem;
  }
  &__subtitle{
    margin: 0.5rem 0;
  }
  &__target{
   @extend .homepage__activeusers; 
   justify-content: center;
   align-items: flex-start;
   flex-direction: row;
  }
  &__targetleft{
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }
  &__targetstates{
    @include body-mobile;
    margin: 0 0 1rem 0;
  }
  &__current{
    @include page-header-mobile;
  }
  &__orders{
    @include body-mobile;
    margin: 0;
  }
  &__calender{
    @extend .homepage__activeusers;
  }
  &__entry{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
  }
  &__date{
    @include body-mobile;
  }
  &__description{
    @include body-mobile;
  }
  &__piechart{
    width: 100%;
    @extend .homepage__activeusers;
  }
  &__labels{
    @include flex-spaced-center;
    flex-wrap: wrap;
    padding: 0 2rem;
  }
  &__box{
    padding: 0.5rem;
    width: 45%;
    height: auto;
    background-color: $coffee-pastelblue;
    &--refunds{
      background-color: $coffee-pastelred;
    }
    &--delivered{
      background-color: $coffee-pastelgreen;
    }
    &--processing {
      background-color: $coffee-pastelyellow;
    }
  }
}