@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.homepage{
  padding: 0 1rem;
  @include tablet{
    padding: 0 8.125rem;
  }
  @include desktop {
    width: 85%;
    margin-left: 15%;
    padding: 0 7.1875rem;
  }
  &__title{
    @include page-header-mobile;
    margin: 1.5rem 0 1rem 0;
    @include tablet{
      margin: 2rem 0;
    }
  }
  &__secondarytitle{
    @include subheader-mobile;
  }
  &__top{
    @include desktop{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
   
  }
  &__producttable{
    @include desktop{
      width: 42%;
    }
  }
  &__overview{
    @include desktop{
      width: 55%;
    }
  }
  &__cards{
    @include flex-center-center;
    flex-wrap: wrap;
    @include tablet{
      margin-bottom: 2rem;
    }
    @include desktop{
      justify-content: flex-start;
    }
  }
  &__card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1.5rem;
    @include border;
    margin: 0 1rem 1rem 0;
  }
  &__cardtitle{
    @include page-nav-mobile;
    font-weight: 400;
    margin: 0.25rem 0;
    @include tablet{
      font-weight: 400;
    }
    @include desktop{
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: 400;
    }
  }
  &__amount{
    @include page-header-mobile;
    margin: 0.25rem 0;
    @include tablet{
      font-weight: 600;
    }
    @include desktop{
      font-size: 1rem;
      line-height: 1.125rem;
      font-weight: 600;
    }
  }
  &__increase{
    @include subheader-mobile;
    font-weight: 400;
    margin: 0.25rem 0;
    color: $coffee-darkyellow;
    @include desktop{
      font-size: 0.6875rem;
      font-weight: 600;
    }
  }
  &__report{
    margin-bottom: 1.5rem;
    @include tablet{
      margin-bottom: 2rem;
    }
  }
  &__products{
    margin-bottom: 1.5rem;
    @include tablet{
      padding: 2.625rem 1rem;
      @include border;
      margin: 0 1.25rem 2rem 1.25rem;
    }
    @include desktop{
      margin: 0;
      
    }
  }
  &__productlist{
    width: 100%;
    @include flex-spaced-center;
    padding: 0.5rem 0;
    border-bottom: 1px solid $coffee-grey300;
    text-decoration: none;
    color: $coffee-grey900;
    @include tablet{
      padding: 0.5rem 1.5rem;
    }
    &:hover{
      cursor: pointer;
      transition-duration: 0.2s;
      background-color: $coffee-grey200;
    }
  }
  &__coffee{
    display: flex;
    align-items: center;
  }
  &__image{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    object-position: center;
    margin-right: 1rem;
  }
  &__name{
    margin: 0;
    @include body-mobile;
    @include desktop{
      font-size: 0.75rem;
    }
  }
  &__price{
    margin: 0;
    @include body-mobile;
    @include desktop {
      font-size: 0.75rem;
      font-weight: 600;
    }
  }
  &__states{
    width: 100%;
    @include flex-column-aligncenter;
    @include tablet{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    @include desktop{
      width: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-top: 2rem;
    }
  }
  &__leftstates{
    @include tablet{
      width: 45%;
      margin-right: 2rem;
    }
  }
  &__activeusers{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    @include border;
    margin-bottom: 1.5rem;
  }
  &__subtitle{
    margin: 0.5rem 0;
    @include tablet{
      margin: 0 0 1rem 0;
    }
  }
  &__target{
   @extend .homepage__activeusers; 
   justify-content: center;
   align-items: flex-start;
   flex-direction: row;
   @include desktop{
    align-items: center;
   }
  }
  &__targetleft{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    @include desktop{
      font-size: 1.25rem
    }
  }
  &__targetstates{
    @include body-mobile;
    margin: 0 0 1rem 0;
  }
  &__current{
    @include page-header-mobile;
  }
  &__orders{
    @include body-mobile;
    margin: 0;
  }
  &__calender{
    @extend .homepage__activeusers;
    @include tablet{
      width: 47%;
    }
    @include desktop{
      width: 30%;
      margin-right: 2rem;
    }
  }
  &__entry{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
    @include tablet{
      padding: 0;
    }
  }
  &__date{
    @include body-mobile;
    width: 50%;
    @include tablet {
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 400;
      }
  }
  &__description{
    @include label-mobile;
    width: 50%;
    @include tablet{
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 400;
    }

  }
  &__piechart{
    width: 100%;
    @extend .homepage__activeusers;
    @include tablet{
      width: 60%;
    }
    @include desktop{
      width: 30%;
    }
  }
  &__labels{
    @include flex-spaced-center;
    flex-wrap: wrap;
    padding: 0 2rem;
    @include desktop{
      padding: 0;
      margin-top: 1rem;
    }
  }
  &__box{
    padding: 0.5rem;
    width: 45%;
    height: auto;
    background-color: $coffee-pastelblue;
    @include desktop{

    }
    &--refunds{
      background-color: $coffee-pastelred;
    }
    &--delivered{
      background-color: $coffee-pastelgreen;
    }
    &--processing {
      background-color: $coffee-pastelyellow;
    }
  }
}